@*@using Vidly.Models*@

@*@model Vidly.Models.Movie*@

@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@( ((Movie)ViewData["Movie"]).Name )</h2>*@
@*@ViewBag.Movie*@


@{ 
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2 class="@className"> @Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text> No one has rented movie before. </text>
}
else
{
    foreach (var customer in Model.Customers)
    {
        <p>
            <h4>@customer.Name</h4>
        </p>
    }
}



